@import "tailwindcss";

/* --black: #000000ff;
--strawberry-red: #ff0035ff;
--white: #ffffffff;
--amber-flame: #ffd60a;
--slate-grey: #7d8491ff; */

@theme {
    --color-brand-black: #000000;
    --color-brand-red: #ff0035ff;
    --color-brand-white: #ffffffff;
    --color-brand-amber: #ffd60a;
    --color-brand-gray: #7d8491ff;
}

:root,
.light,
.light-theme {
    --yellow-1: #fefdf9;
    --yellow-2: #fffbe9;
    --yellow-3: #fff6b7;
    --yellow-4: #ffef94;
    --yellow-5: #ffe571;
    --yellow-6: #f3d76b;
    --yellow-7: #e1c868;
    --yellow-8: #ceb13b;
    --yellow-9: #ffe000;
    --yellow-10: #ffd70d;
    --yellow-11: #927600;
    --yellow-12: #443c20;

    --yellow-a1: #d5aa0006;
    --yellow-a2: #ffd10016;
    --yellow-a3: #ffe00048;
    --yellow-a4: #ffd9016b;
    --yellow-a5: #ffd1008e;
    --yellow-a6: #ebba0094;
    --yellow-a7: #cda20097;
    --yellow-a8: #bf9a00c4;
    --yellow-a9: #ffe000;
    --yellow-a10: #ffd500f2;
    --yellow-a11: #927600;
    --yellow-a12: #292000df;

    --yellow-contrast: #282109;
    --yellow-surface: #fffae4cc;
    --yellow-indicator: #ffe000;
    --yellow-track: #ffe000;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        :root,
        .light,
        .light-theme {
            --yellow-1: oklch(99.3% 0.0048 94.78);
            --yellow-2: oklch(98.8% 0.0247 94.78);
            --yellow-3: oklch(97.3% 0.0816 94.78);
            --yellow-4: oklch(95.2% 0.114 94.78);
            --yellow-5: oklch(92.4% 0.1388 94.78);
            --yellow-6: oklch(88.1% 0.1315 94.78);
            --yellow-7: oklch(83.4% 0.1196 94.78);
            --yellow-8: oklch(76.5% 0.1362 94.78);
            --yellow-9: oklch(91.6% 0.2014 94.78);
            --yellow-10: oklch(88.7% 0.1805 94.78);
            --yellow-11: oklch(57.4% 0.136 94.78);
            --yellow-12: oklch(35.7% 0.0451 94.78);

            --yellow-a1: color(display-p3 0.8392 0.6745 0.0235 / 0.024);
            --yellow-a2: color(display-p3 0.9529 0.8039 0.0078 / 0.079);
            --yellow-a3: color(display-p3 0.9725 0.8627 0.0039 / 0.255);
            --yellow-a4: color(display-p3 0.9686 0.8431 0.0039 / 0.373);
            --yellow-a5: color(display-p3 0.9686 0.8 0.0039 / 0.491);
            --yellow-a6: color(display-p3 0.8706 0.7059 0 / 0.518);
            --yellow-a7: color(display-p3 0.7529 0.6078 0 / 0.538);
            --yellow-a8: color(display-p3 0.6902 0.5569 0 / 0.683);
            --yellow-a9: color(display-p3 0.9725 0.8353 0 / 0.706);
            --yellow-a10: color(display-p3 0.9686 0.7843 0 / 0.706);
            --yellow-a11: color(display-p3 0.4824 0.3804 0 / 0.859);
            --yellow-a12: color(display-p3 0.1412 0.1098 0 / 0.859);

            --yellow-contrast: #282109;
            --yellow-surface: color(display-p3 1 0.9843 0.902 / 0.8);
            --yellow-indicator: oklch(91.6% 0.2014 94.78);
            --yellow-track: oklch(91.6% 0.2014 94.78);
        }
    }
}

:root,
.light,
.light-theme {
    --gray-1: #fbfcfd;
    --gray-2: #f8f9fc;
    --gray-3: #eef0f5;
    --gray-4: #e5e8ee;
    --gray-5: #dee1e8;
    --gray-6: #d6dae2;
    --gray-7: #c9cfd9;
    --gray-8: #b5bcca;
    --gray-9: #878e9c;
    --gray-10: #7c8390;
    --gray-11: #5e646f;
    --gray-12: #1c2026;

    --gray-a1: #00408004;
    --gray-a2: #00259207;
    --gray-a3: #001e6911;
    --gray-a4: #001e591a;
    --gray-a5: #00184e21;
    --gray-a6: #00194b29;
    --gray-a7: #001d4c36;
    --gray-a8: #0119494a;
    --gray-a9: #000f2d78;
    --gray-a10: #000e2783;
    --gray-a11: #000a1ba1;
    --gray-a12: #00050be3;

    --gray-contrast: #FFFFFF;
    --gray-surface: #ffffffcc;
    --gray-indicator: #878e9c;
    --gray-track: #878e9c;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        :root,
        .light,
        .light-theme {
            --gray-1: oklch(99.1% 0.002 263);
            --gray-2: oklch(98.2% 0.004 263);
            --gray-3: oklch(95.6% 0.006 263);
            --gray-4: oklch(93.1% 0.0081 263);
            --gray-5: oklch(91% 0.0102 263);
            --gray-6: oklch(88.8% 0.0123 263);
            --gray-7: oklch(85.3% 0.0156 263);
            --gray-8: oklch(79.4% 0.0213 263);
            --gray-9: oklch(64.6% 0.0218 263);
            --gray-10: oklch(61% 0.0213 263);
            --gray-11: oklch(50.3% 0.0185 263);
            --gray-12: oklch(24.1% 0.0132 263);

            --gray-a1: color(display-p3 0.0235 0.2667 0.5137 / 0.016);
            --gray-a2: color(display-p3 0.0235 0.1608 0.5804 / 0.028);
            --gray-a3: color(display-p3 0.0078 0.1255 0.4157 / 0.067);
            --gray-a4: color(display-p3 0.0118 0.0902 0.2902 / 0.099);
            --gray-a5: color(display-p3 0.0078 0.0667 0.2549 / 0.126);
            --gray-a6: color(display-p3 0.0039 0.0784 0.251 / 0.157);
            --gray-a7: color(display-p3 0.0039 0.098 0.2667 / 0.208);
            --gray-a8: color(display-p3 0.0039 0.0863 0.2627 / 0.287);
            --gray-a9: color(display-p3 0.0039 0.051 0.1608 / 0.467);
            --gray-a10: color(display-p3 0 0.0471 0.1412 / 0.51);
            --gray-a11: color(display-p3 0 0.0314 0.0941 / 0.628);
            --gray-a12: color(display-p3 0 0.0118 0.0353 / 0.887);

            --gray-contrast: #FFFFFF;
            --gray-surface: color(display-p3 1 1 1 / 80%);
            --gray-indicator: oklch(64.6% 0.0218 263);
            --gray-track: oklch(64.6% 0.0218 263);
        }
    }
}

:root,
.light,
.light-theme,
.radix-themes {
    --color-background: #fff;
}

.dark,
.dark-theme {
    --red-1: #000;
    --red-2: #1b0b0a;
    --red-3: #3d0509;
    --red-4: #580005;
    --red-5: #6b000c;
    --red-6: #7f0a18;
    --red-7: #9a1e27;
    --red-8: #c72935;
    --red-9: #ff0035;
    --red-10: #ef0027;
    --red-11: #ff8f8a;
    --red-12: #ffcdc9;

    --red-a1: #00000000;
    --red-a2: #ff685f1b;
    --red-a3: #ff15263d;
    --red-a4: #ff000f58;
    --red-a5: #ff001d6b;
    --red-a6: #ff15317f;
    --red-a7: #ff32419a;
    --red-a8: #ff3544c7;
    --red-a9: #ff0035;
    --red-a10: #ff002aef;
    --red-a11: #ff8f8a;
    --red-a12: #ffcdc9;

    --red-contrast: #fff;
    --red-surface: #36161480;
    --red-indicator: #ff0035;
    --red-track: #ff0035;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        .dark,
        .dark-theme {
            --red-1: oklch(0% 0.0176 23.22);
            --red-2: oklch(17.3% 0.0283 23.22);
            --red-3: oklch(23.5% 0.0846 23.22);
            --red-4: oklch(28.1% 0.1262 23.22);
            --red-5: oklch(32.7% 0.1403 23.22);
            --red-6: oklch(38% 0.1466 23.22);
            --red-7: oklch(44.9% 0.1588 23.22);
            --red-8: oklch(54.3% 0.1929 23.22);
            --red-9: oklch(63.1% 0.2547 23.22);
            --red-10: oklch(59% 0.2547 23.22);
            --red-11: oklch(78.4% 0.2131 23.22);
            --red-12: oklch(90.2% 0.0696 23.22);

            --red-a1: color(display-p3 0 0 0 / 0);
            --red-a2: color(display-p3 0.9922 0.4784 0.4392 / 0.099);
            --red-a3: color(display-p3 1 0.1843 0.2 / 0.216);
            --red-a4: color(display-p3 1 0.1412 0.1255 / 0.314);
            --red-a5: color(display-p3 1 0.1529 0.1843 / 0.385);
            --red-a6: color(display-p3 1 0.2157 0.251 / 0.455);
            --red-a7: color(display-p3 1 0.298 0.3137 / 0.553);
            --red-a8: color(display-p3 1 0.3137 0.3216 / 0.718);
            --red-a9: color(display-p3 1 0.2196 0.2706 / 0.918);
            --red-a10: color(display-p3 1 0.2157 0.2314 / 0.859);
            --red-a11: color(display-p3 1 0.6196 0.5882 / 0.942);
            --red-a12: color(display-p3 1 0.8392 0.8157 / 0.969);

            --red-contrast: #fff;
            --red-surface: color(display-p3 0.1961 0.0941 0.0863 / 0.5);
            --red-indicator: oklch(63.1% 0.2547 23.22);
            --red-track: oklch(63.1% 0.2547 23.22);
        }
    }
}

.dark,
.dark-theme {
    --gray-1: #000;
    --gray-2: #111315;
    --gray-3: #1e1f23;
    --gray-4: #26282d;
    --gray-5: #2d3036;
    --gray-6: #363a41;
    --gray-7: #434851;
    --gray-8: #5b616d;
    --gray-9: #686f7c;
    --gray-10: #757c89;
    --gray-11: #aeb4c0;
    --gray-12: #edeef0;

    --gray-a1: #00000000;
    --gray-a2: #cfe7ff15;
    --gray-a3: #dbe2ff23;
    --gray-a4: #d8e3ff2d;
    --gray-a5: #d5e3ff36;
    --gray-a6: #d4e4ff41;
    --gray-a7: #d3e3ff51;
    --gray-a8: #d5e3ff6d;
    --gray-a9: #d6e5ff7c;
    --gray-a10: #dae7ff89;
    --gray-a11: #e7efffc0;
    --gray-a12: #fcfdfff0;

    --gray-contrast: #FFFFFF;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #686f7c;
    --gray-track: #686f7c;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        .dark,
        .dark-theme {
            --gray-1: oklch(0% 0.0055 263);
            --gray-2: oklch(18.5% 0.0052 263);
            --gray-3: oklch(24% 0.0071 263);
            --gray-4: oklch(27.7% 0.0097 263);
            --gray-5: oklch(31% 0.0115 263);
            --gray-6: oklch(34.8% 0.0129 263);
            --gray-7: oklch(40% 0.0156 263);
            --gray-8: oklch(49.1% 0.0204 263);
            --gray-9: oklch(54% 0.0217 263);
            --gray-10: oklch(58.6% 0.0213 263);
            --gray-11: oklch(77% 0.0179 263);
            --gray-12: oklch(94.9% 0.0033 263);

            --gray-a1: color(display-p3 0 0 0 / 0);
            --gray-a2: color(display-p3 0.8039 0.898 0.9961 / 0.083);
            --gray-a3: color(display-p3 0.8549 0.8824 0.9961 / 0.138);
            --gray-a4: color(display-p3 0.8431 0.8863 1 / 0.177);
            --gray-a5: color(display-p3 0.8706 0.9059 1 / 0.208);
            --gray-a6: color(display-p3 0.8627 0.9098 1 / 0.251);
            --gray-a7: color(display-p3 0.851 0.902 1 / 0.314);
            --gray-a8: color(display-p3 0.851 0.898 1 / 0.424);
            --gray-a9: color(display-p3 0.8549 0.902 1 / 0.483);
            --gray-a10: color(display-p3 0.8667 0.9137 1 / 0.534);
            --gray-a11: color(display-p3 0.9137 0.9412 1 / 0.75);
            --gray-a12: color(display-p3 0.9882 0.9922 1 / 0.942);

            --gray-contrast: #FFFFFF;
            --gray-surface: color(display-p3 0 0 0 / 5%);
            --gray-indicator: oklch(54% 0.0217 263);
            --gray-track: oklch(54% 0.0217 263);
        }
    }
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background: #000;
}