@import "tailwindcss";

/* --black: #000000ff;
--strawberry-red: #ff0035ff;
--white: #ffffffff;
--amber-flame: #ffd60a;
--slate-grey: #7d8491ff; */

@theme {
    --color-brand-space: #14213D;
    --color-brand-red: #E63946;
    --color-brand-white: #F1FAEE;
    --color-brand-frost: #A8DADC;
    --color-brand-steel: #457b9d;
}

:root,
.light,
.light-theme {
    --yellow-1: #fefdf9;
    --yellow-2: #fffbe9;
    --yellow-3: #fff6b7;
    --yellow-4: #ffef94;
    --yellow-5: #ffe571;
    --yellow-6: #f3d76b;
    --yellow-7: #e1c868;
    --yellow-8: #ceb13b;
    --yellow-9: #ffe000;
    --yellow-10: #ffd70d;
    --yellow-11: #927600;
    --yellow-12: #443c20;

    --yellow-a1: #d5aa0006;
    --yellow-a2: #ffd10016;
    --yellow-a3: #ffe00048;
    --yellow-a4: #ffd9016b;
    --yellow-a5: #ffd1008e;
    --yellow-a6: #ebba0094;
    --yellow-a7: #cda20097;
    --yellow-a8: #bf9a00c4;
    --yellow-a9: #ffe000;
    --yellow-a10: #ffd500f2;
    --yellow-a11: #927600;
    --yellow-a12: #292000df;

    --yellow-contrast: #282109;
    --yellow-surface: #fffae4cc;
    --yellow-indicator: #ffe000;
    --yellow-track: #ffe000;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        :root,
        .light,
        .light-theme {
            --yellow-1: oklch(99.3% 0.0048 94.78);
            --yellow-2: oklch(98.8% 0.0247 94.78);
            --yellow-3: oklch(97.3% 0.0816 94.78);
            --yellow-4: oklch(95.2% 0.114 94.78);
            --yellow-5: oklch(92.4% 0.1388 94.78);
            --yellow-6: oklch(88.1% 0.1315 94.78);
            --yellow-7: oklch(83.4% 0.1196 94.78);
            --yellow-8: oklch(76.5% 0.1362 94.78);
            --yellow-9: oklch(91.6% 0.2014 94.78);
            --yellow-10: oklch(88.7% 0.1805 94.78);
            --yellow-11: oklch(57.4% 0.136 94.78);
            --yellow-12: oklch(35.7% 0.0451 94.78);

            --yellow-a1: color(display-p3 0.8392 0.6745 0.0235 / 0.024);
            --yellow-a2: color(display-p3 0.9529 0.8039 0.0078 / 0.079);
            --yellow-a3: color(display-p3 0.9725 0.8627 0.0039 / 0.255);
            --yellow-a4: color(display-p3 0.9686 0.8431 0.0039 / 0.373);
            --yellow-a5: color(display-p3 0.9686 0.8 0.0039 / 0.491);
            --yellow-a6: color(display-p3 0.8706 0.7059 0 / 0.518);
            --yellow-a7: color(display-p3 0.7529 0.6078 0 / 0.538);
            --yellow-a8: color(display-p3 0.6902 0.5569 0 / 0.683);
            --yellow-a9: color(display-p3 0.9725 0.8353 0 / 0.706);
            --yellow-a10: color(display-p3 0.9686 0.7843 0 / 0.706);
            --yellow-a11: color(display-p3 0.4824 0.3804 0 / 0.859);
            --yellow-a12: color(display-p3 0.1412 0.1098 0 / 0.859);

            --yellow-contrast: #282109;
            --yellow-surface: color(display-p3 1 0.9843 0.902 / 0.8);
            --yellow-indicator: oklch(91.6% 0.2014 94.78);
            --yellow-track: oklch(91.6% 0.2014 94.78);
        }
    }
}

:root,
.light,
.light-theme {
    --gray-1: #fbfcfd;
    --gray-2: #f8f9fc;
    --gray-3: #eef0f5;
    --gray-4: #e5e8ee;
    --gray-5: #dee1e8;
    --gray-6: #d6dae2;
    --gray-7: #c9cfd9;
    --gray-8: #b5bcca;
    --gray-9: #878e9c;
    --gray-10: #7c8390;
    --gray-11: #5e646f;
    --gray-12: #1c2026;

    --gray-a1: #00408004;
    --gray-a2: #00259207;
    --gray-a3: #001e6911;
    --gray-a4: #001e591a;
    --gray-a5: #00184e21;
    --gray-a6: #00194b29;
    --gray-a7: #001d4c36;
    --gray-a8: #0119494a;
    --gray-a9: #000f2d78;
    --gray-a10: #000e2783;
    --gray-a11: #000a1ba1;
    --gray-a12: #00050be3;

    --gray-contrast: #FFFFFF;
    --gray-surface: #ffffffcc;
    --gray-indicator: #878e9c;
    --gray-track: #878e9c;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        :root,
        .light,
        .light-theme {
            --gray-1: oklch(99.1% 0.002 263);
            --gray-2: oklch(98.2% 0.004 263);
            --gray-3: oklch(95.6% 0.006 263);
            --gray-4: oklch(93.1% 0.0081 263);
            --gray-5: oklch(91% 0.0102 263);
            --gray-6: oklch(88.8% 0.0123 263);
            --gray-7: oklch(85.3% 0.0156 263);
            --gray-8: oklch(79.4% 0.0213 263);
            --gray-9: oklch(64.6% 0.0218 263);
            --gray-10: oklch(61% 0.0213 263);
            --gray-11: oklch(50.3% 0.0185 263);
            --gray-12: oklch(24.1% 0.0132 263);

            --gray-a1: color(display-p3 0.0235 0.2667 0.5137 / 0.016);
            --gray-a2: color(display-p3 0.0235 0.1608 0.5804 / 0.028);
            --gray-a3: color(display-p3 0.0078 0.1255 0.4157 / 0.067);
            --gray-a4: color(display-p3 0.0118 0.0902 0.2902 / 0.099);
            --gray-a5: color(display-p3 0.0078 0.0667 0.2549 / 0.126);
            --gray-a6: color(display-p3 0.0039 0.0784 0.251 / 0.157);
            --gray-a7: color(display-p3 0.0039 0.098 0.2667 / 0.208);
            --gray-a8: color(display-p3 0.0039 0.0863 0.2627 / 0.287);
            --gray-a9: color(display-p3 0.0039 0.051 0.1608 / 0.467);
            --gray-a10: color(display-p3 0 0.0471 0.1412 / 0.51);
            --gray-a11: color(display-p3 0 0.0314 0.0941 / 0.628);
            --gray-a12: color(display-p3 0 0.0118 0.0353 / 0.887);

            --gray-contrast: #FFFFFF;
            --gray-surface: color(display-p3 1 1 1 / 80%);
            --gray-indicator: oklch(64.6% 0.0218 263);
            --gray-track: oklch(64.6% 0.0218 263);
        }
    }
}

:root,
.light,
.light-theme,
.radix-themes {
    --color-background: #fff;
}

.dark,
.dark-theme {
    --red-1: #29201f;
    --red-2: #2f2020;
    --red-3: #4c1e1e;
    --red-4: #611a1d;
    --red-5: #711f23;
    --red-6: #812a2d;
    --red-7: #99393a;
    --red-8: #c2474a;
    --red-9: #e63946;
    --red-10: #c3484b;
    --red-11: #ff928f;
    --red-12: #ffd1ce;

    --red-a1: #fd160017;
    --red-a2: #fa19001e;
    --red-a3: #ff15003d;
    --red-a4: #fe0c0054;
    --red-a5: #ff1c0065;
    --red-a6: #fd341b77;
    --red-a7: #fe4c3891;
    --red-a8: #ff544ebd;
    --red-a9: #ff3c48e4;
    --red-a10: #ff564fbe;
    --red-a11: #ff928f;
    --red-a12: #ffd1ce;

    --red-contrast: #fff;
    --red-surface: #4a200480;
    --red-indicator: #e63946;
    --red-track: #e63946;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        .dark,
        .dark-theme {
            --red-1: oklch(25.2% 0.0143 22.24);
            --red-2: oklch(26.3% 0.0231 22.24);
            --red-3: oklch(30.3% 0.0691 22.24);
            --red-4: oklch(33.6% 0.103 22.24);
            --red-5: oklch(37.2% 0.1146 22.24);
            --red-6: oklch(41.8% 0.1197 22.24);
            --red-7: oklch(48% 0.1297 22.24);
            --red-8: oklch(56.7% 0.1576 22.24);
            --red-9: oklch(61.2% 0.2082 22.24);
            --red-10: oklch(57% 0.1576 22.24);
            --red-11: oklch(79% 0.1741 22.24);
            --red-12: oklch(90.2% 0.0568 22.24);

            --red-a1: color(display-p3 0.9922 0.0784 0 / 0.074);
            --red-a2: color(display-p3 1 0.1294 0 / 0.095);
            --red-a3: color(display-p3 1 0.1333 0 / 0.203);
            --red-a4: color(display-p3 1 0.102 0 / 0.285);
            --red-a5: color(display-p3 1 0.1765 0 / 0.35);
            --red-a6: color(display-p3 1 0.2745 0.1294 / 0.414);
            --red-a7: color(display-p3 1 0.3608 0.2471 / 0.513);
            --red-a8: color(display-p3 1 0.3961 0.3412 / 0.677);
            --red-a9: color(display-p3 1 0.3216 0.3137 / 0.815);
            --red-a10: color(display-p3 1 0.4 0.3451 / 0.682);
            --red-a11: color(display-p3 1 0.6235 0.5961 / 0.936);
            --red-a12: color(display-p3 1 0.851 0.8275 / 0.97);

            --red-contrast: #fff;
            --red-surface: color(display-p3 0.2588 0.1255 0.0196 / 0.5);
            --red-indicator: oklch(61.2% 0.2082 22.24);
            --red-track: oklch(61.2% 0.2082 22.24);
        }
    }
}

.dark,
.dark-theme {
    --gray-1: #1e241d;
    --gray-2: #252b24;
    --gray-3: #2c3429;
    --gray-4: #313a2e;
    --gray-5: #364133;
    --gray-6: #3e493a;
    --gray-7: #4a5546;
    --gray-8: #616c5d;
    --gray-9: #6b7767;
    --gray-10: #778373;
    --gray-11: #adbaa9;
    --gray-12: #e8f1e5;

    --gray-a1: #fc67000b;
    --gray-a2: #f8a70013;
    --gray-a3: #f7d4001b;
    --gray-a4: #fce90020;
    --gray-a5: #fffe0025;
    --gray-a6: #fdff2d2e;
    --gray-a7: #fafe633c;
    --gray-a8: #f6fd9b57;
    --gray-a9: #f5ffaa63;
    --gray-a10: #f4ffb771;
    --gray-a11: #f2ffdab0;
    --gray-a12: #f6fff0ef;

    --gray-contrast: #FFFFFF;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #6b7767;
    --gray-track: #6b7767;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        .dark,
        .dark-theme {
            --gray-1: oklch(25.2% 0.016 137.8);
            --gray-2: oklch(28.1% 0.0153 137.8);
            --gray-3: oklch(31.4% 0.0219 137.8);
            --gray-4: oklch(33.7% 0.0251 137.8);
            --gray-5: oklch(36% 0.0276 137.8);
            --gray-6: oklch(39% 0.0276 137.8);
            --gray-7: oklch(43.5% 0.0276 137.8);
            --gray-8: oklch(51.7% 0.0276 137.8);
            --gray-9: oklch(55.5% 0.0276 137.8);
            --gray-10: oklch(59.5% 0.0276 137.8);
            --gray-11: oklch(77.3% 0.0276 137.8);
            --gray-12: oklch(94.8% 0.0184 137.8);

            --gray-a1: color(display-p3 0.9882 0.4667 0 / 0.035);
            --gray-a2: color(display-p3 0.9922 0.7333 0 / 0.065);
            --gray-a3: color(display-p3 0.9922 0.8745 0 / 0.1);
            --gray-a4: color(display-p3 1 0.9412 0 / 0.121);
            --gray-a5: color(display-p3 0.9843 0.9961 0.0431 / 0.145);
            --gray-a6: color(display-p3 0.9804 0.9961 0.2353 / 0.181);
            --gray-a7: color(display-p3 0.9725 1 0.4353 / 0.235);
            --gray-a8: color(display-p3 0.9725 1 0.6392 / 0.338);
            --gray-a9: color(display-p3 0.9608 1 0.6863 / 0.388);
            --gray-a10: color(display-p3 0.9608 1 0.7373 / 0.442);
            --gray-a11: color(display-p3 0.9569 1 0.8627 / 0.69);
            --gray-a12: color(display-p3 0.9765 1 0.9451 / 0.937);

            --gray-contrast: #FFFFFF;
            --gray-surface: color(display-p3 0 0 0 / 5%);
            --gray-indicator: oklch(55.5% 0.0276 137.8);
            --gray-track: oklch(55.5% 0.0276 137.8);
        }
    }
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background: #14213d;
}