@import "tailwindcss";


/* --ruby-red: #9e0031ff;
    --white: #fffeffff;
    --orange: #faa80fff;
    --midnight-violet: #1c0221ff;
    --ink-black: #02040fff;


/* font-family: "Montserrat", sans-serif; */
/* font-family: "Inter", sans-serif; */
/* font-family: "Playfair Display", serif; */
/* font-family: "DM Sans", sans-serif; */

@theme {

    --color-brand-space: #1c0221ff;
    --color-brand-red: #9e0031ff;
    --color-brand-white: #fffeffff;
    --color-brand-frost: #faa80fff;
    --color-brand-steel: #02040fff;
    --font-sans: "DM Sans", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-playfair: "Playfair Display", serif;
    --font-inter: "Inter", sans-serif;
}

.radix-themes {
    --default-font-family: "DM Sans", sans-serif;
    --heading-font-family: "Montserrat", sans-serif;
}


:root,
.light,
.light-theme {
    --yellow-1: #fefdf9;
    --yellow-2: #fffbe9;
    --yellow-3: #fff6b7;
    --yellow-4: #ffef94;
    --yellow-5: #ffe571;
    --yellow-6: #f3d76b;
    --yellow-7: #e1c868;
    --yellow-8: #ceb13b;
    --yellow-9: #ffe000;
    --yellow-10: #ffd70d;
    --yellow-11: #927600;
    --yellow-12: #443c20;

    --yellow-a1: #d5aa0006;
    --yellow-a2: #ffd10016;
    --yellow-a3: #ffe00048;
    --yellow-a4: #ffd9016b;
    --yellow-a5: #ffd1008e;
    --yellow-a6: #ebba0094;
    --yellow-a7: #cda20097;
    --yellow-a8: #bf9a00c4;
    --yellow-a9: #ffe000;
    --yellow-a10: #ffd500f2;
    --yellow-a11: #927600;
    --yellow-a12: #292000df;

    --yellow-contrast: #282109;
    --yellow-surface: #fffae4cc;
    --yellow-indicator: #ffe000;
    --yellow-track: #ffe000;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        :root,
        .light,
        .light-theme {
            --yellow-1: oklch(99.3% 0.0048 94.78);
            --yellow-2: oklch(98.8% 0.0247 94.78);
            --yellow-3: oklch(97.3% 0.0816 94.78);
            --yellow-4: oklch(95.2% 0.114 94.78);
            --yellow-5: oklch(92.4% 0.1388 94.78);
            --yellow-6: oklch(88.1% 0.1315 94.78);
            --yellow-7: oklch(83.4% 0.1196 94.78);
            --yellow-8: oklch(76.5% 0.1362 94.78);
            --yellow-9: oklch(91.6% 0.2014 94.78);
            --yellow-10: oklch(88.7% 0.1805 94.78);
            --yellow-11: oklch(57.4% 0.136 94.78);
            --yellow-12: oklch(35.7% 0.0451 94.78);

            --yellow-a1: color(display-p3 0.8392 0.6745 0.0235 / 0.024);
            --yellow-a2: color(display-p3 0.9529 0.8039 0.0078 / 0.079);
            --yellow-a3: color(display-p3 0.9725 0.8627 0.0039 / 0.255);
            --yellow-a4: color(display-p3 0.9686 0.8431 0.0039 / 0.373);
            --yellow-a5: color(display-p3 0.9686 0.8 0.0039 / 0.491);
            --yellow-a6: color(display-p3 0.8706 0.7059 0 / 0.518);
            --yellow-a7: color(display-p3 0.7529 0.6078 0 / 0.538);
            --yellow-a8: color(display-p3 0.6902 0.5569 0 / 0.683);
            --yellow-a9: color(display-p3 0.9725 0.8353 0 / 0.706);
            --yellow-a10: color(display-p3 0.9686 0.7843 0 / 0.706);
            --yellow-a11: color(display-p3 0.4824 0.3804 0 / 0.859);
            --yellow-a12: color(display-p3 0.1412 0.1098 0 / 0.859);

            --yellow-contrast: #282109;
            --yellow-surface: color(display-p3 1 0.9843 0.902 / 0.8);
            --yellow-indicator: oklch(91.6% 0.2014 94.78);
            --yellow-track: oklch(91.6% 0.2014 94.78);
        }
    }
}

:root,
.light,
.light-theme {
    --gray-1: #fbfcfd;
    --gray-2: #f8f9fc;
    --gray-3: #eef0f5;
    --gray-4: #e5e8ee;
    --gray-5: #dee1e8;
    --gray-6: #d6dae2;
    --gray-7: #c9cfd9;
    --gray-8: #b5bcca;
    --gray-9: #878e9c;
    --gray-10: #7c8390;
    --gray-11: #5e646f;
    --gray-12: #1c2026;

    --gray-a1: #00408004;
    --gray-a2: #00259207;
    --gray-a3: #001e6911;
    --gray-a4: #001e591a;
    --gray-a5: #00184e21;
    --gray-a6: #00194b29;
    --gray-a7: #001d4c36;
    --gray-a8: #0119494a;
    --gray-a9: #000f2d78;
    --gray-a10: #000e2783;
    --gray-a11: #000a1ba1;
    --gray-a12: #00050be3;

    --gray-contrast: #FFFFFF;
    --gray-surface: #ffffffcc;
    --gray-indicator: #878e9c;
    --gray-track: #878e9c;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        :root,
        .light,
        .light-theme {
            --gray-1: oklch(99.1% 0.002 263);
            --gray-2: oklch(98.2% 0.004 263);
            --gray-3: oklch(95.6% 0.006 263);
            --gray-4: oklch(93.1% 0.0081 263);
            --gray-5: oklch(91% 0.0102 263);
            --gray-6: oklch(88.8% 0.0123 263);
            --gray-7: oklch(85.3% 0.0156 263);
            --gray-8: oklch(79.4% 0.0213 263);
            --gray-9: oklch(64.6% 0.0218 263);
            --gray-10: oklch(61% 0.0213 263);
            --gray-11: oklch(50.3% 0.0185 263);
            --gray-12: oklch(24.1% 0.0132 263);

            --gray-a1: color(display-p3 0.0235 0.2667 0.5137 / 0.016);
            --gray-a2: color(display-p3 0.0235 0.1608 0.5804 / 0.028);
            --gray-a3: color(display-p3 0.0078 0.1255 0.4157 / 0.067);
            --gray-a4: color(display-p3 0.0118 0.0902 0.2902 / 0.099);
            --gray-a5: color(display-p3 0.0078 0.0667 0.2549 / 0.126);
            --gray-a6: color(display-p3 0.0039 0.0784 0.251 / 0.157);
            --gray-a7: color(display-p3 0.0039 0.098 0.2667 / 0.208);
            --gray-a8: color(display-p3 0.0039 0.0863 0.2627 / 0.287);
            --gray-a9: color(display-p3 0.0039 0.051 0.1608 / 0.467);
            --gray-a10: color(display-p3 0 0.0471 0.1412 / 0.51);
            --gray-a11: color(display-p3 0 0.0314 0.0941 / 0.628);
            --gray-a12: color(display-p3 0 0.0118 0.0353 / 0.887);

            --gray-contrast: #FFFFFF;
            --gray-surface: color(display-p3 1 1 1 / 80%);
            --gray-indicator: oklch(64.6% 0.0218 263);
            --gray-track: oklch(64.6% 0.0218 263);
        }
    }
}

:root,
.light,
.light-theme,
.radix-themes {
    --color-background: #fff;
}

.dark,
.dark-theme {
    --red-1: #170b0c;
    --red-2: #231011;
    --red-3: #440311;
    --red-4: #5c0013;
    --red-5: #6f001a;
    --red-6: #840024;
    --red-7: #a00533;
    --red-8: #cf0443;
    --red-9: #9e0031;
    --red-10: #870026;
    --red-11: #ff8d98;
    --red-12: #ffcbce;

    --red-a1: #00e8000a;
    --red-a2: #94f0000f;
    --red-a3: #ff08002d;
    --red-a4: #ff000048;
    --red-a5: #fd000f5e;
    --red-a6: #ff002875;
    --red-a7: #fe074095;
    --red-a8: #fe054cca;
    --red-a9: #fe003d93;
    --red-a10: #fd002c79;
    --red-a11: #ff8d98;
    --red-a12: #ffcbce;

    --red-contrast: #fff;
    --red-surface: #2a1e0280;
    --red-indicator: #9e0031;
    --red-track: #9e0031;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        .dark,
        .dark-theme {
            --red-1: oklch(16.8% 0.0196 15.59);
            --red-2: oklch(20.1% 0.0317 15.59);
            --red-3: oklch(24.9% 0.0947 15.59);
            --red-4: oklch(28.8% 0.1412 15.59);
            --red-5: oklch(33.1% 0.1569 15.59);
            --red-6: oklch(38.2% 0.164 15.59);
            --red-7: oklch(45% 0.1776 15.59);
            --red-8: oklch(54.4% 0.2158 15.59);
            --red-9: oklch(44.4% 0.1776 15.59);
            --red-10: oklch(38.9% 0.164 15.59);
            --red-11: oklch(78.4% 0.2158 15.59);
            --red-12: oklch(90.2% 0.0778 15.59);

            --red-a1: color(display-p3 0 0.9961 0 / 0.036);
            --red-a2: color(display-p3 0.5922 0.9922 0 / 0.056);
            --red-a3: color(display-p3 1 0.1569 0 / 0.161);
            --red-a4: color(display-p3 0.9961 0.1529 0 / 0.257);
            --red-a5: color(display-p3 1 0.1686 0.0902 / 0.331);
            --red-a6: color(display-p3 0.9961 0.1804 0.1922 / 0.418);
            --red-a7: color(display-p3 1 0.2157 0.2902 / 0.527);
            --red-a8: color(display-p3 1 0.2196 0.3333 / 0.718);
            --red-a9: color(display-p3 1 0.2 0.2784 / 0.522);
            --red-a10: color(display-p3 1 0.1882 0.2118 / 0.427);
            --red-a11: color(display-p3 1 0.6157 0.6392 / 0.935);
            --red-a12: color(display-p3 1 0.8314 0.8353 / 0.966);

            --red-contrast: #fff;
            --red-surface: color(display-p3 0.149 0.1176 0.0157 / 0.5);
            --red-indicator: oklch(44.4% 0.1776 15.59);
            --red-track: oklch(44.4% 0.1776 15.59);
        }
    }
}

.dark,
.dark-theme {
    --gray-1: #100f10;
    --gray-2: #1a191a;
    --gray-3: #232223;
    --gray-4: #2a292a;
    --gray-5: #323132;
    --gray-6: #3b3a3b;
    --gray-7: #494849;
    --gray-8: #626062;
    --gray-9: #6f6e6f;
    --gray-10: #7d7c7d;
    --gray-11: #b5b3b5;
    --gray-12: #efeeef;

    --gray-a1: #00ef000e;
    --gray-a2: #07f70018;
    --gray-a3: #53fa3121;
    --gray-a4: #75fb5b28;
    --gray-a5: #91fc7c30;
    --gray-a6: #a7fc9539;
    --gray-a7: #befeb147;
    --gray-a8: #d8ffd05f;
    --gray-a9: #dfffd86d;
    --gray-a10: #e6ffe07b;
    --gray-a11: #f6fef4b3;
    --gray-a12: #fefffeee;

    --gray-contrast: #FFFFFF;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #6f6e6f;
    --gray-track: #6f6e6f;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        .dark,
        .dark-theme {
            --gray-1: oklch(16.8% 0.0025 325.6);
            --gray-2: oklch(21.3% 0.0025 325.6);
            --gray-3: oklch(25.4% 0.0025 325.6);
            --gray-4: oklch(28.4% 0.0025 325.6);
            --gray-5: oklch(31.4% 0.0025 325.6);
            --gray-6: oklch(35% 0.0025 325.6);
            --gray-7: oklch(40.1% 0.0025 325.6);
            --gray-8: oklch(49.2% 0.0025 325.6);
            --gray-9: oklch(54% 0.0025 325.6);
            --gray-10: oklch(58.6% 0.0025 325.6);
            --gray-11: oklch(77% 0.0025 325.6);
            --gray-12: oklch(94.9% 0.0017 325.6);

            --gray-a1: color(display-p3 0 0.9922 0 / 0.048);
            --gray-a2: color(display-p3 0.1451 0.9922 0 / 0.088);
            --gray-a3: color(display-p3 0.4157 0.9922 0.2235 / 0.124);
            --gray-a4: color(display-p3 0.5412 0.9961 0.3882 / 0.151);
            --gray-a5: color(display-p3 0.6353 1 0.5137 / 0.183);
            --gray-a6: color(display-p3 0.7059 1 0.6118 / 0.219);
            --gray-a7: color(display-p3 0.7882 1 0.7137 / 0.274);
            --gray-a8: color(display-p3 0.8706 1 0.8275 / 0.37);
            --gray-a9: color(display-p3 0.8941 1 0.8549 / 0.425);
            --gray-a10: color(display-p3 0.9137 0.9961 0.8824 / 0.481);
            --gray-a11: color(display-p3 0.9725 1 0.9608 / 0.699);
            --gray-a12: color(display-p3 0.9961 1 0.9961 / 0.933);

            --gray-contrast: #FFFFFF;
            --gray-surface: color(display-p3 0 0 0 / 5%);
            --gray-indicator: oklch(54% 0.0025 325.6);
            --gray-track: oklch(54% 0.0025 325.6);
        }
    }
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background: #1c0221;
}